@import "https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css";
@import "https://px.animaapp.com/6373c51f1be4ff5592b6817a.6373c5201be4ff5592b6817d.w6GbXLI.rcp.png";
@font-face {
  font-family: Suisse Intl-Light;
  font-style: normal;
  font-weight: 300;
  src: url("SuisseIntl-Light.715bd372.otf") format("opentype");
}

@font-face {
  font-family: Suisse Intl-Regular;
  font-style: normal;
  font-weight: 400;
  src: url("SuisseIntl-Regular.0a461460.otf") format("opentype");
}

@font-face {
  font-family: Suisse Intl-Medium;
  font-style: normal;
  font-weight: 500;
  src: url("SuisseIntl-Medium.20452867.otf") format("opentype");
}

.screen a {
  text-decoration: none;
  display: contents;
}

.container-center-horizontal {
  pointer-events: none;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  display: flex;
}

.container-center-horizontal > * {
  pointer-events: auto;
  flex-shrink: 0;
}

.valign-text-middle {
  flex-direction: column;
  justify-content: center;
  display: flex;
}

* {
  box-sizing: border-box;
}

.loading {
  background-color: var(--white);
  cursor: pointer;
  height: 100vh;
  min-height: 711px;
  min-width: 337px;
  width: 100%;
  border: 1px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 33px;
  padding: 49px 17px;
  display: flex;
  position: relative;
}

.click {
  height: 13px;
  letter-spacing: 0;
  text-align: center;
  width: 125px;
  line-height: normal;
}

.comp-1-3-loading {
  filter: blur(10px);
  height: 105px;
  min-width: 103px;
  opacity: .2;
  justify-content: center;
  align-items: center;
}

.comp-1-3-loading.animate-enter7 {
  filter: blur(10px);
  opacity: .2;
  animation: 2s ease-in-out forwards animate-enter7-frames;
}

.comp-1-12x-1 {
  height: 152px;
  object-fit: cover;
  width: 152px;
  margin-top: 1px;
  margin-left: 1px;
}

@keyframes animate-enter7-frames {
  from {
    opacity: .2;
    filter: blur(10px);
  }

  to {
    opacity: 1;
    filter: none;
  }
}

.welcome {
  height: 100vh;
  min-height: 711px;
  min-width: 337px;
  width: 100%;
  background: #fff linear-gradient(#f8f8f8 0%, #fff 100%);
  border: 1px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 49px 17px;
  display: flex;
  position: relative;
}

.hello-my-name-is-ga-welcome {
  height: 100px;
  letter-spacing: 0;
  text-align: center;
  width: 125px;
  line-height: normal;
  transform: scale(1.1);
}

.hello-my-name-is-ga-welcome.animate-enter4 {
  animation: 3s ease-out forwards animate-enter4-frames;
  transform: scale(2);
}

.copyright-welcome {
  height: 13px;
  letter-spacing: 0;
  text-align: center;
  width: 125px;
  line-height: normal;
  transform: scale(1.1);
}

.copyright-welcome.animate-enter6 {
  animation: .5s ease-in-out forwards animate-enter6-frames;
  transform: scale(1.1);
}

@keyframes animate-enter4-frames {
  from {
    opacity: 1;
    transform: scale(1.1);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes animate-enter6-frames {
  from {
    opacity: 1;
    transform: scale(1.1);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.aboutpage {
  height: 100vh;
  min-height: 711px;
  min-width: 340px;
  width: 100%;
  border: 1px;
  display: flex;
  position: relative;
}

.about {
  background-color: var(--white);
  height: 711px;
  width: 340px;
  z-index: 1;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  gap: 26px;
  padding: 173px 106px;
  display: flex;
}

.gabriel-dellaiuto-about {
  letter-spacing: 0;
  text-align: justify;
  width: 212px;
  margin-top: -13.5px;
  margin-left: -42px;
  margin-right: -42px;
  line-height: 13.2px;
  transform: translate(5000px);
}

.gabriel-dellaiuto-about.animate-enter {
  animation: 1.5s ease-in-out .1s forwards animate-enter-frames;
  transform: translate(5000px);
}

.download-rsum-about {
  color: var(--chicago);
  cursor: pointer;
  font-family: var(--font-family-suisse_intl-medium);
  font-size: var(--font-size-m);
  letter-spacing: 0;
  text-align: center;
  white-space: nowrap;
  width: 212px;
  margin-left: -42px;
  margin-right: -42px;
  font-weight: 500;
  line-height: 13.2px;
  text-decoration: underline;
  transition: all .3s ease-out;
  transform: translate(2000px);
}

.download-rsum-about.animate-enter1 {
  animation: 1s ease-in-out .3s forwards animate-enter1-frames;
  transform: translate(2000px);
}

.download-rsum-about:hover {
  transform: scale(1.1);
}

.gz-or-grayz-gz-or-about {
  letter-spacing: 0;
  text-align: justify;
  width: 212px;
  margin-bottom: -11.5px;
  margin-left: -42px;
  margin-right: -42px;
  line-height: 13.2px;
  transform: translate(2000px);
}

.span3 {
  text-decoration: underline;
}

.gz-or-grayz-gz-or-about.animate-enter2 {
  animation: 1s ease-in-out .2s forwards animate-enter2-frames;
  transform: translate(2000px);
}

@keyframes animate-enter2-frames {
  from {
    opacity: 1;
    transform: translate(2000px);
  }

  to {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes animate-enter-frames {
  from {
    opacity: 1;
    transform: translate(5000px);
  }

  to {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes animate-enter1-frames {
  from {
    opacity: 1;
    transform: translate(2000px);
  }

  to {
    opacity: 1;
    transform: translate(0);
  }
}

.frame-1 {
  background-color: var(--white);
  min-height: 711px;
  width: 314px;
  border: 1px;
  flex-direction: column;
  align-items: flex-end;
  gap: 44px;
  padding: 214px 99px;
  display: flex;
  position: relative;
}

.gz-102-grayzapp-frame-1 {
  color: #0000;
  cursor: pointer;
  font-family: var(--font-family-suisse_intl-medium);
  font-size: var(--font-size-l);
  letter-spacing: 0;
  opacity: 0;
  text-align: center;
  width: 115px;
  font-weight: 400;
  line-height: normal;
  transition: all .4s;
  transform: scale(1.2);
}

.span0 {
  color: var(--chicago);
  font-weight: 500;
}

.span1 {
  color: #dcdddd;
  font-family: var(--font-family-suisse_intl-regular);
}

.gz-102-grayzapp-frame-1.animate-enter12 {
  opacity: 0;
  animation: 3s forwards animate-enter12-frames;
  transform: scale(2);
}

.gz-102-grayzapp-frame-1:hover {
  transform: scale(1.1);
}

@keyframes animate-enter12-frames {
  from {
    opacity: 0;
    transform: scale(1.2);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.main-button-3-start-menu {
  border: 1px solid;
  border-color: var(--chicago);
  height: auto;
  mix-blend-mode: normal;
  opacity: 1;
  width: 108px;
  background-color: #0000;
  border-radius: 22px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 2px 28px;
  display: block;
  transform: translate(0, 2000px);
  box-shadow: 0 4px 4px #0000000d;
}

.main-button-3-start-menu.animate-enter8 {
  opacity: 1;
  animation: 2s forwards animate-enter8-frames;
  display: block;
  transform: translate(0, 2000px);
}

.about-1 {
  letter-spacing: 0;
  text-align: center;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: -1px;
  margin-left: auto;
  margin-right: auto;
  line-height: normal;
  display: block;
}

@keyframes animate-enter8-frames {
  from {
    opacity: 1;
    transform: translate(0, 2000px);
  }

  to {
    opacity: 1;
    transform: translate(0);
  }
}

.main-button-6-start-menu {
  border: 1px solid;
  border-color: var(--chicago);
  height: auto;
  mix-blend-mode: normal;
  opacity: 1;
  width: 108px;
  background-color: #0000;
  border-radius: 22px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 2px 28px;
  display: block;
  transform: translate(0, 2000px);
  box-shadow: 0 4px 4px #0000000d;
}

.main-button-6-start-menu.animate-enter11 {
  opacity: 1;
  animation: 2s .7s forwards animate-enter11-frames;
  display: block;
  transform: translate(0, 2000px);
}

.about-4 {
  letter-spacing: 0;
  text-align: center;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: -1px;
  margin-left: auto;
  margin-right: auto;
  line-height: normal;
  display: block;
}

@keyframes animate-enter11-frames {
  from {
    opacity: 1;
    transform: translate(0, 2000px);
  }

  to {
    opacity: 1;
    transform: translate(0);
  }
}

.main-button-5-start-menu {
  border: 1px solid;
  border-color: var(--chicago);
  height: auto;
  mix-blend-mode: normal;
  opacity: 1;
  width: 108px;
  background-color: #0000;
  border-radius: 22px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 2px 28px;
  display: block;
  transform: translate(0, 2000px);
  box-shadow: 0 4px 4px #0000000d;
}

.main-button-5-start-menu.animate-enter10 {
  opacity: 1;
  animation: 2s .5s forwards animate-enter10-frames;
  display: block;
  transform: translate(0, 2000px);
}

.about-3 {
  letter-spacing: 0;
  text-align: center;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: -1px;
  margin-left: auto;
  margin-right: auto;
  line-height: normal;
  display: block;
}

@keyframes animate-enter10-frames {
  from {
    opacity: 1;
    transform: translate(0, 2000px);
  }

  to {
    opacity: 1;
    transform: translate(0);
  }
}

.main-button-4-start-menu {
  border: 1px solid;
  border-color: var(--chicago);
  height: auto;
  mix-blend-mode: normal;
  opacity: 1;
  width: 108px;
  background-color: #0000;
  border-radius: 22px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 2px 28px;
  display: block;
  transform: translate(0, 2000px);
  box-shadow: 0 4px 4px #0000000d;
}

.main-button-4-start-menu.animate-enter9 {
  opacity: 1;
  animation: 2s .3s forwards animate-enter9-frames;
  display: block;
  transform: translate(0, 2000px);
}

.about-2 {
  letter-spacing: 0;
  text-align: center;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: -1px;
  margin-left: auto;
  margin-right: auto;
  line-height: normal;
  display: block;
}

@keyframes animate-enter9-frames {
  from {
    opacity: 1;
    transform: translate(0, 2000px);
  }

  to {
    opacity: 1;
    transform: translate(0);
  }
}

.start-menu {
  width: -moz-fit-content;
  width: fit-content;
  flex-direction: column;
  align-self: center;
  align-items: center;
  gap: 10px;
  display: flex;
  position: relative;
}

.archivepage {
  background-color: var(--white);
  height: 100vh;
  min-height: 8610px;
  min-width: 344px;
  width: 100%;
  border: 1px;
  justify-content: center;
  display: flex;
  position: relative;
}

.archives-archivepage {
  filter: blur(10px);
  height: 8610px;
  opacity: 0;
  width: 300px;
  z-index: 1;
  flex-direction: column;
  align-items: center;
  gap: 17px;
  padding: 79px 0 51px;
}

.archives-archivepage.animate-enter13 {
  filter: blur(10px);
  opacity: 0;
  animation: 1.5s ease-in-out .1s forwards animate-enter13-frames;
}

.archives-1 {
  letter-spacing: 0;
  text-align: center;
  width: 68px;
  margin-top: -1px;
  margin-left: auto;
  margin-right: auto;
  line-height: normal;
  display: block;
}

.sculptural {
  letter-spacing: 0;
  text-align: center;
  width: 120px;
  margin-left: auto;
  margin-right: auto;
  line-height: normal;
  display: block;
}

.frame {
  height: 51px;
  min-width: 240px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.tf-image {
  height: 253px;
  min-width: 174px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.archives-item {
  letter-spacing: 0;
  text-align: center;
  align-self: stretch;
  margin-left: auto;
  margin-right: auto;
  line-height: normal;
  display: block;
}

.tf-image-button {
  height: 220px;
  min-width: 220px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.tf-image-button-1 {
  height: 138px;
  min-width: 160px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.morso1 {
  height: 142px;
  min-width: 268px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.morso2 {
  height: 150.62px;
  min-width: 268px;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.morso3 {
  height: 183.86px;
  min-width: 268px;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.bite1 {
  height: 123px;
  min-width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.bite2 {
  height: 306px;
  min-width: 206px;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.hk1 {
  height: 326px;
  min-width: 122px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.hk2 {
  height: 274px;
  min-width: 226px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.oneshot-image {
  height: 411px;
  min-width: 290px;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.oneshot-2022-dj-se {
  letter-spacing: 0;
  text-align: center;
  width: 193px;
  margin-left: auto;
  margin-right: auto;
  line-height: normal;
  display: block;
}

.ultra1 {
  height: 323.7px;
  min-width: 290px;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.ultra2 {
  height: 131px;
  min-width: 290px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.ultra3 {
  height: 46.71px;
  min-width: 290px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.archives-item-1 {
  letter-spacing: 0;
  text-align: center;
  width: 256px;
  margin-left: auto;
  margin-right: auto;
  line-height: normal;
  display: block;
}

.rosa-facile1 {
  height: 414.15px;
  min-width: 290px;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.rosa-facile2 {
  height: 94px;
  min-width: 290px;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.rosa-facile3 {
  height: 418.44px;
  min-width: 290px;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.rosa-complesso1 {
  height: 414.07px;
  min-width: 290px;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.rosa-complesso2 {
  height: 97.6px;
  min-width: 290px;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.rosa-complesso3 {
  height: 414.42px;
  min-width: 290px;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.rosa-complesso4 {
  height: 204.28px;
  min-width: 290px;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.rosa-complesso-press {
  height: 181px;
  min-width: 262px;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.rosa-complesso-press2 {
  height: 173px;
  min-width: 286px;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.incredible-friends {
  height: 235px;
  min-width: 290px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.extra {
  letter-spacing: 0;
  text-align: center;
  width: 54px;
  margin-left: auto;
  margin-right: auto;
  line-height: normal;
  display: block;
}

.panem-et-c {
  height: 442.05px;
  min-width: 290px;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.gz-1 {
  height: 259.36px;
  min-width: 290px;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@keyframes animate-enter13-frames {
  from {
    opacity: 0;
    filter: blur(10px);
  }

  to {
    opacity: 1;
    filter: none;
  }
}

.main-button-aboutpage {
  -webkit-backdrop-filter: blur(4px) brightness();
  -webkit-backdrop-filter: blur(4px) brightness();
  backdrop-filter: blur(4px) brightness();
  background-color: var(--white-2);
  border: 1px solid;
  border-color: var(--chicago);
  filter: blur(15px);
  opacity: 0;
  width: -moz-fit-content;
  width: fit-content;
  z-index: 2;
  border-radius: 22px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 2px 28px;
  position: fixed;
  bottom: 36px;
  left: calc(50% - 50px);
  box-shadow: 0 4px 4px #00000040;
}

.main-button-aboutpage.animate-enter3 {
  filter: blur(15px);
  opacity: 0;
  animation: 1.5s ease-in-out forwards animate-enter3-frames;
}

.back {
  letter-spacing: 0;
  text-align: center;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: -1px;
  line-height: normal;
}

.main-button-aboutpage.main-button-1-welcome {
  -webkit-backdrop-filter: unset;
  -webkit-backdrop-filter: unset;
  backdrop-filter: unset;
  background-color: unset;
  bottom: unset;
  filter: unset;
  left: unset;
  opacity: unset;
  position: unset;
  z-index: unset;
  transform: scale(1.1);
  box-shadow: 0 4px 4px #0000000d;
}

.main-button-aboutpage.main-button-1-welcome.animate-enter5 {
  animation: 1.5s ease-in-out .3s forwards animate-enter5-frames;
  transform: scale(1.1);
}

.main-button-aboutpage.main-button-2-archivepage {
  left: calc(50% - 48px);
}

.main-button-aboutpage.main-button-2-archivepage.animate-enter14 {
  filter: blur(15px);
  opacity: 0;
  animation: 1.5s ease-in-out forwards animate-enter14-frames;
}

@keyframes animate-enter14-frames {
  from {
    opacity: 0;
    filter: blur(15px);
  }

  to {
    opacity: 1;
    filter: none;
  }
}

@keyframes animate-enter3-frames {
  from {
    opacity: 0;
    filter: blur(15px);
  }

  to {
    opacity: 1;
    filter: none;
  }
}

@keyframes animate-enter5-frames {
  from {
    opacity: 1;
    transform: scale(1.1);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}



:root {
  --black: #000;
  --chicago: #5e5e5e;
  --white: #fff;
  --white-2: #fff6;
  --font-size-l: 13px;
  --font-size-m: 12px;
  --font-family-suisse_intl-light: "Suisse Intl-Light", Helvetica;
  --font-family-suisse_intl-medium: "Suisse Intl-Medium", Helvetica;
  --font-family-suisse_intl-regular: "Suisse Intl-Regular", Helvetica;
}

.suisseintl-regular-normal-chicago-13px {
  color: var(--chicago);
  font-family: var(--font-family-suisse_intl-regular);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.suisseintl-regular-normal-chicago-12px {
  color: var(--chicago);
  font-family: var(--font-family-suisse_intl-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.suisseintl-light-chicago-12px {
  color: var(--chicago);
  font-family: var(--font-family-suisse_intl-light);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 300;
}

.suisseintl-light-chicago-13px {
  color: var(--chicago);
  font-family: var(--font-family-suisse_intl-light);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 300;
}

/*# sourceMappingURL=index.e1b8c111.css.map */
